@font-face {
    font-family: 'localFont';
    src: url('cour.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'localFont';
	font-size: 16px;
	overflow-y: auto;
	overflow-x: hidden;
	max-width: 100%;
	margin: 0px;
}

html {
	overflow-x: hidden;
    -webkit-text-size-adjust: none;
}

span {
	white-space: pre-wrap;
}

a {
	text-decoration: none;
	color: black;
}

.button {
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}

#menu {
	position:absolute;
	width:fit-content;
	max-width: 100%;
}

#container {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

#fullViewPort {
	width: 100vw;
	height: 100vh;
}

#randomText {
	position: absolute;
	padding: 5px;
}

.linkContainer {
	position: absolute;
	display: flex;
	max-width: 100%;
}

.musicLink {
	position: absolute;
	padding: 5px;
}
