@font-face {
    font-family: 'localFont';
    src: url('cour.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'localFont';
	overflow-y: auto;
	overflow-x: hidden;
	max-width: 100%;
}

html {
	overflow-x: hidden;
}

span {
	white-space: pre-wrap;
}

a {
	text-decoration: none;
	color: black;
}

.button {
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}

#menu {
	position:absolute;
	width:fit-content;
}

#container {
	display: flex;
	justify-content: center;
}

#randomText {
	position: absolute;
	padding: 5px;
}

.linkContainer {
	position: absolute;
}
