@font-face {
    font-family: 'localFont';
    src: url('$lib/cour.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
	font-family: 'localFont';
	font-size: 16px;
	overflow-y: auto;
	overflow-x: hidden;
	max-width: 100%;
	margin: 0px;
}

html {
	overflow-x: hidden;
    -webkit-text-size-adjust: none;
}

a {
    text-decoration: none;
    color: black;
	transition: text-shadow 0.1s ease;
  }
  
  a:hover {
	text-shadow: -2px 2px 3px rgb(247, 0, 255);
  }

#content {
	padding: 0px;
	margin: 0px;
	flex: 1;
}